@font-face {
    font-family: Play;
    src: url("https://hd-only.org/static/fonts/Play-Regular.ttf")
}


/*GLOBAL*/

hr {
  color: #32364282 !important;
}

#nav_upload a {
    color:#fff !important
}

.brackets {
  text-indent: 0px;
  white-space: nowrap;
  border-radius: 5px !important;
  padding: 3px !important;
  font-size: 0.9em !important;
  color: #b2b1b2 !important;
}

.brackets:hover {
  background: #22252b !important;
  color: #fff !important;
}

.toolbar-button {

  background-color: #17191f !important;
  border: 1px solid #17191f !important;

}

.toolbar-button:hover {
  background: #515666 !important;
}

span.team{

    color: #eaa07d !important;
}

.scrollButton {
  background: #2f3442 !important;
  
}

#premenu{
    background: transparent !important;
    border: 1px solid #2f3442;
    box-shadow: 0 2px #151515;
}

.grouptmdb.tooltip:hover {
  color: #000;
  text-shadow: 0 1px #fff;
}

.groupimdb.tooltip:hover {
  color: #000;
  text-shadow: 0 1px #fff;
}

.grouptrailer.tooltip:hover {
  color: #000;
  text-shadow: 0 1px #fff;
}


strong.artists_label {
  border-bottom: 1px dashed #4d4f53;
}

.time.tooltip {
  color: #BDBDBD !important;
  font-size: 0.8rem !important;
}

.forum_list {
background: #171a20;
  padding: 20px;
    padding-top: 20px;
  padding-top: 20px;
  border: 2px solid #16171a;
  padding-top: 0 !important;
  margin-top: 10px;
  border-radius: 10px;
 
  
}

.forum_list h3 {
  border-bottom: 2px dashed rgb(51, 56, 68);
  padding-bottom: 13px;
  font-weight: bold;
}

.header h2 {
  border-bottom: 2px dashed #2e323e;
  padding-bottom: 10px;
  margin-bottom: 20px !important;
  width:100% !important
}

td.avatar {
  border-right: 2px solid #19191c;
  background: #17191f;
}


.preview_submit {
  padding-bottom: 10px;
}


#quickpostform {
  border: none !important;
}

#irc-window {
  margin-bottom: 20px;
}

.search_form {
  border: none !important;
}


.edit_form {
  border: none !important;
}

.rename_form {
  border: none !important;
}

.add_form {
  border: none !important;
}


#messageform {
  padding: 10px;
  border: 3px solid #17191f;
  border-radius: 7px;
}

#filter_form tr {
  border: none !important;
}

.create_form {
     border: none !important;
}

#newthreadform {
  border: none !important;
}

#request_form {
  padding: 10px !important;
    border: none !important;
}

.emoji-box {
 
  background-color: #191c24 !important;
  border: 1px solid rgb(37, 42, 55) !important;
}

.emoji:hover {
  background-color: #2a2f3e !important;
}

a:active,
a:focus,
button:active,
button:focus,
input:active,
input:focus,
select:active,
select:focus,
textarea:active,
textarea:focus {
    outline: 0;
    
}

#leeching {
  padding-left: 10px !important;
}

#content>.thin,
.box,
.box2,
.main_column,
.sidebar {
    overflow: hidden
}

#userinfo_minor:before,
.clear:after,
.linkbox br,
.profileinfo:before {
    content: ""
}

#menu>ul a,
.nobr {
    white-space: nowrap
}

#rip_specifics.ftr_advanced #menu>ul a,
#rip_specifics.ftr_advanced .nobr {
    white-space: normal
}

#bookmarks .torrent_row td:nth-child(3)>span:first-child,
#covers .stats .remove,
.sidebar {
    float: right
}

#torrents td.center .add_bookmark,
#torrents td.center .remove_bookmark,
button.show-more-btn {
    display: contents
}

.tooltipster-default .tooltipster-content,
body,
button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
select,
textarea {
    font-family: Play, "Open Sans", Helvetica, Arial, Tahoma, "Microsoft Yahei", sans-serif
}

#header ul,
.poll {
    list-style: none
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
}

* {
    box-sizing: inherit
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
    max-width: 100%;
    font-weight: 400;
    line-height: normal;
    color: #f4f4f4
}

#inbox .unreadpm a[href*=viewconv],
#musicbrainz_popup a:hover,
.alertbar,
.linkbox>strong,
.quoteheader,
.show-more-btn:hover,
.tooltipster-default .tooltipster-content a:hover,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #70a2cb
}

h1,
h2 {
    font-size: 23px
}

h3,
h4 {
    font-size: 18px
}

h4,
h5 {
    font-size: 16px
}

a {
    color: #d5d3d1;
    text-decoration: none;
    font-weight: 600
}

#menu>ul>#nav_staff>a:hover,
#userform #settings_sections h2 a:hover,
.tags a:hover,
a:hover {
    color: #70a2cb
}

#menu>ul,
#userinfo_username .username,
.album_votes .favoritecount,
b,
strong {
    font-weight: 600
}

ol,
ul {
    margin: 12px;
    padding-left: 16px
}

ol.nobullet,
ul.nobullet {
    list-style-type: none
}

li {
    margin-bottom: 4px
}

.box_zipdownload input[type=submit],
li:last-child {
    margin-bottom: 0
}

blockquote {
    margin: 12px;
    padding: 12px;
    background-color: #17191f;
    border-left: 3px solid #9bb9d587;
}

::selection {
    color: #fff;
    background-color: rgba(151, 168, 183, .6)
}

::-moz-selection {
    color: #fff;
    background-color: rgba(151, 168, 183, .6)
}

table {
    margin: 8px 0;
    width: 100%;
    border-collapse: collapse
}

table .rowa,
table .rowb {
    border-top: 2px solid transparent
}

#dnulist tr:not(.colhead):not(.colhead_dark):nth-child(odd),
.group_torrent.edition,
.torrent,
table .rowa:nth-child(odd),
table .rowb:nth-child(odd) {
    background-color: #17191f
}

#bonus tbody tr:nth-child(2n),
#dnulist tr:not(.colhead):not(.colhead_dark):nth-child(2n),
#searchbars>ul input,
#user tbody tr:not(.colhead):not(.colhead_dark),
.artist_table tr:not(.colhead):not(.colhead_dark),
.box,
.box2,
.filelist_table tr:not(.colhead):not(.colhead_dark),
.group_torrent,
form,
table .rowa:nth-child(2n),
table .rowb:nth-child(2n) {
    background-color: #1e222d;
    border: 1px solid #16171a;
}


#covers .pad,
#covers p,
#header ul,
#wiki .navigation_list,
.golden_rules,
.min_padding,
table ul.options_list {
    margin: 0;
    padding: 0
}

.colhead,
.colhead_dark,
.head {
    line-height: 18px
}

.colhead td,
.colhead_dark td {
    padding-top: 12px;
    padding-bottom: 12px
}

#requests .layout tbody tr:first-child td:first-child,
.colhead td:first-child,
.colhead_dark td:first-child {
    border-top-left-radius: 5px
}

#requests .layout tbody tr:first-child td:last-child,
.colhead td:last-child,
.colhead_dark td:last-child {
    border-top-right-radius: 5px
}

.recent tr:not(.colhead):not(.colhead_dark)>td:first-child a img,
table .layout_recent img:first-child,
tbody .torrent_row:nth-last-child(2) td:first-child,
tbody tr:last-child td:first-child {
    border-bottom-left-radius: 0px
}

.recent tr:not(.colhead):not(.colhead_dark)>td:last-child a img,
tbody .torrent_row:nth-last-child(2) td:last-child,
tbody tr:last-child td:last-child {
    border-bottom-right-radius: 5px
}

.colhead td.sign,
.colhead_dark td.sign,
.linkbox,
.linkbox .center {
    text-align: left !important;
    font-size: 0.8rem !important;
}

.colhead td.sign .tooltip,
.colhead_dark td.sign .tooltip {
    display: inline;
    max-height: 13px;
    max-width: 13px
}

td {
    padding: 4px 6px
}

td:first-child {
    padding-left: 12px
}

td:last-child {
    padding-right: 12px
}

form table td.label {
    width: 180px;
    text-align: right;
    color: #a4a4a4;
    font-weight: 600
}

button,
input,
select,
span.size3,
textarea {
    font-size: 13px
}

/*button,
input[type=button],
input[type=submit] {
    padding: 0 12px;
    height: 32px;
    font-weight: 600;
    border: none;
    border-radius: 1.5px;
    color: #211f25;
    background: linear-gradient(#f0f0f0, #b8b8b8);
    cursor: pointer
}

button:active,
input[type=button]:active,
input[type=submit]:active {
    background: linear-gradient(#b8b8b8, #f0f0f0)
}*/

input[type=email],
input[type=password],
input[type=search],
input[type=text],
select,
textarea {
    padding: 0 8px;
    padding-top: 0px;
  height: 32px;
  border: 1px solid rgb(37, 42, 55);
  color: #dedede;
  background: #191c24;
}

input[type=email]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=text]:focus,
select:focus,
textarea:focus {
    color: #f4f4f4;
    border: 1px solid rgba(141, 173, 191, 0.2);

}

textarea {
    padding-top: 6px;
    width: 100%;
    min-height: 250px
}

.body,
.head,
.pad {
    padding: 12px
}

span.size1 {
    font-size: .75em
}

span.size2 {
    font-size: 1em
}

span.size4 {
    font-size: 1.5em
}

span.size5 {
    font-size: 1.75em
}

span.size6 {
    font-size: 2em
}

span.size7 {
    font-size: 2.25em
}

span.size8 {
    font-size: 2.5em
}

span.size9 {
    font-size: 2.75em
}

span.size10 {
    font-size: 3em
}

.alertbar,
.forum_index h4,
.forum_list h4 {
    font-size: 14px
}

.error,
.invalid,
.new,
.r00,
.r01,
.r02,
.r03,
.small_downvote,
.small_downvoted,
.vote_album_down,
.vote_artist_down,
.vote_tag_down,
.warning,
strong.important_text {
    color: #ed5454;
    font-weight: bold;
}

#seeding>.stat,
.r10,
.r20,
.r50,
.r99,
.small_upvote,
.small_upvoted,
.vote_album_up,
.vote_artist_up,
.vote_tag_up,
strong.important_text_alt {
   color: #6da06d;
  font-weight: bold;
}

.r04,
.r05,
.r06,
.r07,
.r08,
.r09 {
    color: #e8be69
}

#wrapper {
    margin: auto;
    max-width: 1200px;
    min-width: 680px
}

.main_column {
    margin: 0 250px 0 0
}

.torrentdetails blockquote {
    max-width: 900px;
    overflow: auto;
    border: 3px solid #1f2126;
  background: #17191f;
}

#userform #settings_sections,
.sidebar {
    width: 240px
}

.box,
.box2 {
    margin-top: 8px;
    margin-bottom: 8px;
}

table.box,
table.box2 {
    overflow: auto
}

.clear:after {
    display: block;
    height: 0;
    visibility: visible
}

.profileinfo:before {
    display: table;
    clear: both
}

.autocomplete-suggestions {
    margin-top: 4px;
    border: 1px solid #29262d;
    background-color: #3f3e46;
}

.autocomplete-suggestions a {
    color: #000
}

.autocomplete-suggestions .autocomplete-suggestion {
    line-height: 24px;
    padding: 0 8px
}

.autocomplete-suggestions .autocomplete-suggestion.autocomplete-selected {
    background-color: #65646c;
}

.autocomplete-suggestions .autocomplete-suggestion strong {
    color: #12a1e3
}

#footer,
.tags a {
    color: #a4a4a4
}

.forum_post.forum_unread {
    border-top: 0px solid #97a8b7
}

.forum_post .avatar {
    width: 150px;
    padding: 0
}

.forum_post .avatar img {
    display: block;
    height: auto;
    width: auto;
    max-height: 400px !important;
    min-width: 150px;
    max-width: 150px !important;
 
}

/*@media screen and (-ms-high-contrast:active),
(-ms-high-contrast:none) {
    .forum_post .body img {
        max-width: 720px
    }
}*/

.forum_index h3,
.forum_list h3 {
    margin-top: 24px
}

.forum_index td[style*="width: 2%"],
.forum_list td[style*="width: 2%"] {
    width: 24px !important
}

#userinfo_major>li,
#userinfo_stats>li,
.last_read,
.linkbox .brackets {
    margin-left: 0px;
    margin-bottom: 9px;
  display: inline-block;
}

.last_read :before {
    content: url(/static/common/arrow-rw.png);
    display: inline-block
}

.read {
    background: url(/static/styles/oprah/images/read.png) center no-repeat
}

.unread {
    background: url(/static/styles/oprah/images/unread.png) center no-repeat
}

.read_locked {
    background: url(/static/styles/oprah/images/locked_read.png) center no-repeat
}

.unread_locked {
    background: url(/static/styles/oprah/images/locked_unread.png) center no-repeat
}

.read_sticky {
    background: url(/static/styles/oprah/images/sticky_read.png) center no-repeat
}

.unread_sticky {
    background: url(/static/styles/oprah/images/sticky_unread.png) center no-repeat
}

.read_locked_sticky {
    background: url(/static/styles/oprah/images/locked_sticky_read.png) center no-repeat
}

.unread_locked_sticky {
    background: url(/static/styles/oprah/images/locked_sticky_unread.png) center no-repeat
}

#header,
#userinfo,
#votes {
    position: relative
}

#footer p,
#header li,
#wiki .box_info ul,
.box.pad .search_form,
.search_form .filter_torrents,
.search_form .filter_torrents div.submit,
.searchbars .search_form,
.sidebar .search_form {
    margin: 0
}

#emojiContainer,
#menu ul {
    margin-top: 10px
}

#menu>ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    background-color: #171a20 !important;
  border: 1px solid #16171a;
}

#menu>ul li {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

#menu>ul a {
    display: block;
    height: 100%;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid #332f4b
}

#menu>ul a:hover {
    /*border-bottom: 2px solid #70a2cb;*/
    color: #fff;
    
}

#menu>ul>#nav_staff,
#menu>ul>#nav_userinfo {
    position: absolute;
    display: inline;
    top: 26px;
    right: 8px
}

#menu>ul>#nav_staff>a {
    padding: 0;
    line-height: 1.6
}

#covers .cover_seperator,
#discog_table>div.box.center .brackets:after,
#discog_table>div.box.center .brackets:before,
#nav_index,
#noty_bottomRight_layout_container .brackets:after,
#noty_bottomRight_layout_container .brackets:before,
#quickreplytext br:last-child,
.big_info .group_info:after,
.box_addtag .body br,
.cats_audiobooks,
.lightbox.hidden,
.linkbox .brackets:after,
.linkbox .brackets:before {
    display: none
}

#userinfo_minor,
#userinfo_username {
    z-index: 900;
    position: absolute
}

#userinfo_minor:hover a,
#userinfo_username:hover a {
    display: block
}

#userinfo_minor a,
#userinfo_username a {
    display: none;
    padding: 0 8px;
    line-height: 32px;
    width: 150px
}

#userinfo_username:hover {
    right: 0;
    border-radius: 0 10px 0 0
}

#userinfo_username #nav_userinfo>a {
    display: block;
    line-height: 50px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap
}

#userinfo_minor:before {
    display: block;
    height: 50px;
    width: 50px;
    line-height: 50px
}

#userinfo_minor:hover:before {
    margin-left: 100px
}

#userinfo_major,
#userinfo_stats {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    right: 8px;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap
}

#userinfo_major {
    top: -56px;
    right: 40px
}

#userinfo_stats {
    top: -31px
}

#searchbars>ul {
    display: -ms-flexbox;
    display: flex;
    padding: 0 9px;
    height: 50px;
    -ms-flex-align: center;
    align-items: center;
    background-color: #171a20;
    border-radius: 0 0 5px 5px;
    border: 1px solid #16171a;
}

#searchbars>ul li {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-right: 9px
}

#searchbars>ul li:last-child,
.box_artists .brackets:last-child,
.box_tags .edit_tags_votes .brackets:last-child {
    margin-right: 0
}

#searchbars>ul input {
    width: 100%
}

#userinfo_username {
    right: 50px
}

#userinfo_minor {
    right: 0;
    border-radius: 0 5px 0 0
}

#menu {
    border-radius: 5px 5px 0 0;
    overflow: hidden
}

.linkbox br {
    display: block;
    line-height: 4px
}

#footer,
.alertbar,
ul.only {
    text-align: center
}

.box_addartists form,
.box_addartists_similar form,
.box_addtag form,
.box_search form,
.box_zipdownload form,
.thin>.header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap
}

.thin>.header h1,
.thin>.header h2,
.thin>.header h3 {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
}

.thin>.header .linkbox {
    margin-top: 8px;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -ms-flex-item-align: end;
    align-self: flex-end
}

#noty_bottomRight_layout_container {
    bottom: 24px !important;
    right: 24px !important
}

#noty_bottomRight_layout_container>li {
    border: 1px solid #17191f !important;
    border-radius: 5px !important;
    background: 0 0 !important;
    box-shadow: 0 0 32px rgba(0, 0, 0, .25) !important
}


#noty_bottomRight_layout_container .noty_message .noty_text {
    padding: 0 8px
}

#noty_bottomRight_layout_container .noty_buttons {
    padding: 8px !important;
    border: none !important;
    background-color: #1e222d !important
}

#noty_bottomRight_layout_container .noty_buttons a {
    color: #dedede !important
}

#noty_bottomRight_layout_container .noty_buttons a:hover {
    color: #97a8b7 !important
}

#noty_bottomRight_layout_container .brackets {
    margin: 0 2px
}

.sidebar .pad ol,
.sidebar .pad ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0
}

.sidebar ol.nobullet,
.sidebar ul.nobullet {
    padding-left: 0
}

.sidebar img {
    height: auto
}

#add_cover_div>div:first-child,
#artist .sidebar .box_image div:last-child {
    padding: 0 !important
}

#covers img,
#index .sidebar img,
#user .avatar_container div,
.add_torrent_container .field_div input,
.colhead td[width*="70%"],
.colhead_dark td[width*="70%"] {
    width: 100%
}

#covers .stats {
    margin: 0 8px 8px
}

#add_cover_div>div:first-child .additional_add_artists {
    margin: 8px 12px
}

#AddArtists input,
#AddArtists select,
#add_cover_div .add_form input[type=text] {
    width: 100%;
    margin-bottom: 8px
}

#artist .sidebar .box_image img {
    max-width: 100% !important
}

.box_artists .brackets,
.box_tags .edit_tags_votes .brackets {
    margin: 0 4px
}

.box_artists .brackets::after,
.box_artists .brackets::before,
.box_tags .edit_tags_votes .brackets::after,
.box_tags .edit_tags_votes .brackets::before {
    content: "";
    display: none
}

.box_addartists input[type=text],
.box_addartists select,
.box_addartists_similar input[type=text],
.box_addartists_similar select,
.box_addtag input[type=text],
.box_addtag select,
.box_search input[type=text],
.box_search select,
.box_zipdownload input[type=text],
.box_zipdownload select {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-right: 8px;
    width: auto
}

.box_addtag .body strong {
    margin-top: 8px;
    display: block;
    font-weight: 400
}

.add_torrent_container form>span:last-child {
    display: inline-block;
    margin-top: 8px
}

.box_zipdownload input,
.box_zipdownload select {
    margin-right: 0;
    margin-bottom: 8px;
    width: 100% !important
}

.box_zipdownload #list {
    margin: 0 0 8px;
    width: 100%
}

.box_zipdownload #formats {
    width: 170px !important;
    margin-right: 8px
}

.torrent_table tr:not(.colhead):not(.colhead_dark) {
    border: 0px solid #24262d
}

.torrent_table tr .number_column:not(:last-child) {
    padding-right: 6px
}

.torrent_table .group {
    background-color: #1e222d
}

.torrentdetails .linkbox {
    margin-bottom: 6px
}

.group_info {
    word-break: break-word
}

.big_info {
    padding-top: 0;
    padding-bottom: 0
}

.big_info .group_image {
    margin-right: 8px
}

.big_info .group_info {
    margin: 4px
}

#searchbox,
.poll .graph {
    margin-bottom: 12px
}

.group_info>span:first-child,
.group_torrent td:first-child>span,
.torrent_links_block {
    float: right;
    margin-right: 4px;
    color: #b5b4b7
}

.group_torrent:not(.edition) td:first-child {
    color: transparent;
    padding-left: 24px
}

.torrent_table .group td:first-child {
    padding-left: 4px
}

.hide_torrents>a,
.show_torrents>a {
    position: relative;
    display: block;
    width: 24px;
    line-height: 32px;
    font-size: 16px;
    font-weight: 600
}



.group_torrent .edition_info {
    position: relative;
    padding-left: 22px;
    border-top: 1px solid transparent
}

.group_torrent .edition_info a {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 22px;
    line-height: 27px;
    text-align: center;
    font-size: 16px
}

.colhead .cats_col,
.colhead_dark .cats_col {
    padding: 0;
    height: auto
}

#bookmarks #torrent_table tr:not(.colhead):not(.colhead_dark) td:nth-child(2),
.cats_col {
    border-top: 1px solid transparent;
    position: relative;
    padding: 0;
    height: 100%
}

.cats_applications,
.cats_audiobooks,
.cats_comedy,
.cats_comics,
.cats_ebooks,
.cats_elearningvideos {
    position: absolute;
    width: 6px;
    left: auto;
    top: 0;
    bottom: 0;
    opacity: .35;
    border-right: 2px solid #211f25
}

.cats_applications {
    background-color: #2b99ff
}

.cats_comedy {
    background-color: #ff382b
}

.cats_comics {
    background-color: #b52bff
}

.cats_ebooks {
    background-color: #3fee23
}

.cats_elearningvideos {
    background-color: #22fad9
}

.log_section pre {
    line-height: 1.4
}

.tooltipster-base {
    width: auto !important;
    box-shadow: 0 0 8px rgba(0, 0, 0, .25)
}

.tooltipster-default {
    border-radius: 2.5px;
    border: 0 solid #70a2cb;
    background-color: #f4f4f4
}

.tooltipster-default .tooltipster-content {
    padding: 4px 6px;
    font-size: 13px;
    line-height: 1.4;
    color: #211f25
}

.tooltipster-default .tooltipster-content a {
    font-weight: 600;
    color: #211f25
}

#content .header>h1,
#content .header>h2,
#content .header>h3,
#content .thin>h1,
#content .thin>h2,
#content .thin>h3 {
    margin-top: 16px;
    margin-bottom: 0 !important;
    font-size: 1.4rem !important;
}

ul.collage_images {
    margin: 0;
    width: 100%
}

ul.collage_images li {
    position: relative;
    display: block;
    height: auto;
    width: 20%;
    overflow: hidden
}

ul.collage_images li a,
ul.collage_images li a img {
    width: 90%;
    height: 100%;
    position: absolute
}

.recent tr:not(.colhead):not(.colhead_dark)>td:before,
ul.collage_images li:before {
    content: "";
    float: left;
    padding-top: 100%
}

ul.collage_images li a {
    display: block;
    top: 0;
    left: 0
}

ul.collage_images li a>span {
    position: absolute;
    margin: 6px;
    top: 0;
    left: 0;
    width: auto;
    height: auto
}

.recent {
    table-layout: fixed
}

.recent tr:not(.colhead):not(.colhead_dark)>td {
    padding: 0;
    position: relative
}

.recent tr:not(.colhead):not(.colhead_dark)>td a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.recent tr:not(.colhead):not(.colhead_dark)>td a img {
    position: absolute;
    width: 75%;
    height: 100%;
    margin-left: 12%
}

.alertbar {
    margin: 3px 0;
    background: #302d34
}

#userform #settings_sections h2 a,
#userinfo_minor:hover a,
#userinfo_username:hover a,
.rule_short {
    color: #f4f4f4
}

.poll li {
    margin-bottom: 2px
}

.poll .graph {
    display: block;
    height: 8px;
    background-color: rgba(230, 159, 144, .1)
}

.poll .graph span {
    display: block;
    float: left;
    height: 8px;
    background-color: #973939f0
}

.lightbox {
    z-index: 1000;
    position: fixed;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .32);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.lightbox img {
    display: block;
    max-width: 92%;
    max-height: 92%;
    box-shadow: 0 0 32px 6px rgba(0, 0, 0, .32)
}

#footer {
    margin: 32px auto 16px;
    font-synthesis: none;
}

#messageform textarea,
#quickreplytext textarea {
    margin: 0 0 12px
}

#discog_table>div.box.center {
    padding: 12px;
    text-align: center;
    background-color: #332f4b
}

#discog_table>div.box.center a {
    margin: 0 8px
}

.rule_summary {
    padding: 24px !important
}

.rule_wrap {
    margin-bottom: 8px
}

#musicbrainz_popup {
    color: #211f25;
    font-weight: 600
}

#musicbrainz_popup .brackets,
#nav_staff {
    font-weight: 400
}

#musicbrainz_popup a {
    color: #211f25
}

#inbox #content .search_form input[type=search],
#wiki #content .search_form input[type=search] {
    width: 100% !important;
    margin-top: 8px;
    margin-bottom: 8px;
}

#inbox .manage_form .box {
    padding: 0;
    border: none !important;
}

#rules #content .thin .header p {
    display: block;
    margin: 0 0 8px;
    width: 100%
}

.avatar_container img,
.profileinfo img,
.sidebar img {
    max-width: 100%
}

#user .box>.head {
    height: auto !important;
    min-height: 42px
}

#user .box>.head span[style="float: left;"]:first-child {
    float: none !important
}

#userform {
    background-color: transparent
}

#userform #settings_sections h2 {
    line-height: 1.6;
    font-size: 12px
}

#userform #settings_sections input {
    margin-top: 8px
}

#menu>ul a:hover,
#userinfo_minor:hover a:hover,
#userinfo_username:hover a:hover {
    background-color: rgba(255, 255, 255, .2)
}

#messageform #buttons input[type=button],
#messageform #buttons label,
#quickpostform .preview_submit input[type=button],
#quickpostform .preview_submit label,
#torrents .filter_torrents .ft_submit input,
.forum_post .colhead_dark input[type=button],
.forum_post .colhead_dark label {
    margin-right: 4px
}

#torrents .filter_torrents .ft_submit span {
    -ms-flex-order: 2;
    order: 2
}

.album_votes {
    line-height: normal
}

#requests .layout tbody,
.collage_table,
.torrent_table {
    border-radius: 5px
}

#collages.collage_table .colhead td:last-child,
#personal_collages .colhead td:last-child,
.filelist_table .colhead_dark td:last-child,
.forum_index .colhead td[style*="width: 7%"] {
    text-align: right
}

.search_form {
    margin: 8px 0;
    overflow: hidden;
    border-radius: 5px;
    padding-bottom: 5px;
}

.search_form div.submit {
    margin: 12px;
    text-align: center
}

.box table:not(.layout),
.box2 table:not(.layout) {
    margin: 8px 0;
    border: 2px solid transparent
}

span[style*="color: green"] {
    color: #54ba54 !important
}

span[style*="color: red"] {
    color: #ed5454 !important
}

span[style*="color: blue"] {
    color: #5454ed !important
}

.filelist_table td,
.reportinfo_table,
.torrentdetails,
.wrap_overflow,
blockquote {
    word-wrap: unset;
    -webkit-hyphens: unset;
    -ms-hyphens: unset;
    hyphens: unset
}

#quickpost {
    width: 100% !important
}

.donation_info {
    margin-left: 0;
    margin-right: 0
}

#userinfo_minor:hover,
#userinfo_username:hover {
    z-index: 800;
    background-color: #38353d
}

#nav_staff {
    background-color: #211f25 !important
}

#searchbars .search_form {
    background: 0 0
}

#searchbars .search_form input {
    height: 30px;
    border-radius: 2.5px;
    border: none;
    color: #f9f6f6ab;
  text-shadow: 0 1px #000;
}

#searchbars .search_form input:focus {
    background: #191c24;
    border: 1px solid #3b5066;
  border-radius: 7px !important;
}

#bonus tbody tr:nth-child(odd) {
    background-color: #29262d
}

#userhistory .colhead td,
#userhistory .colhead_dark td {
    border-radius: 5px
}

.tagsnatched,
.torrent_label {
    border: none !important;
    background-color: unset !important
}

.artist_table td:first-child {
    padding-left: 20px
}

.alertbar a {
    display: initial;
    width: 100%;
    height: 100%
}

.tagteam {
    color: #ac9788 !important;
    white-space: nowrap;
    padding: 2px;
    float: right;
    margin-right: 10px;
    background: #17191f !important;
   border-radius: 5px;
   padding: 3px;
   font-size: 0.8em;
}

.group_torrent [title=' ONLY '],
.torrent_info [title=' ONLY '],
.tagteam [title=' ONLY '] {
    white-space: nowrap;
    background-color: unset !important;
    border: none !important;
    font-size: 15px;
    color: #2ac6fb !important;
    padding: 2px;
    float: right;
    margin-right: 10px;
    text-shadow: #2ac6fb 1px 0 10px;
    animation: 2.5s infinite blinker
}

.tagreported {
    color: tomato !important
}

.tagsnatched, .tagseeding {
    color: lightgreen !important
}

.tagleeching {
    color: orange !important
}

@keyframes blinker {
    50% {
        opacity: 20%
    }
}

#quickreplytext {
    padding-top: 10px
}

#leeching>.stat {
    color: #c44d4d;
  font-weight: bold;
}

#menu>ul>li:hover:not(#nav_staff) {
    /*background-color: #1e3697 !important*/
}

#menu ul li a:hover,
.colhead,
.colhead_dark,
.head {
    background-color: #1e222d;
}

body#user form.search_form table.layout {
    width: 100%;
    border-collapse: collapse;
    margin-left: 3px;
    max-width: 139px
}

body#user form.search_form table.layout select[name=secclass] {
    max-width: 139px
}

.alertbar a[href^="inbox.php"],
.alertbar a[href^="torrents.php"] {
    font-size: 20px;
    color: #e05151;
    animation: 2.5s infinite blinker
}

html > body > div:nth-child(1) > div:nth-child(2) > div:nth-child(3) {
    font-size: 10px
}

.group_image img {
    width: 110px;
    height: 150px;
    box-shadow: 0 0 10px #060607;
    margin-top: 2px
}

.edition_info {
    color: #86aabf
}

#noty_bottomRight_layout_container .noty_message {
    color: #dedede !important;
    background-color: #17191f !important;
    font-weight: 600
}

body {
    box-sizing: border-box;
    line-height: 1.6;
    color: #dedede;
    background: #191c24;
    font-size: 14px !important;
    margin: 0
}

.Table {
    width: 60%
}

#menu>ul>#nav_staff>a,
#menu>ul>#nav_staff>a:hover {
    background: #211f25 !important
}

#userinfo_username #nav_userinfo>a,
#userinfo_username #nav_userinfo>a:hover {
    width: 120px !important
}

#nav_top10 a {
    margin-right: 5px
}

#torrents textarea,
#upload textarea {
    padding-top: 6px;
    width: 750px;
    height: 300px
}

.wysibb-text-editor {
    max-height: 300px !important
}

.tag3d,
.tagbonus,
.tagcustom,
.tagdc,
.tagdovi,
.tagex,
.taghdr,
.taghdr10plus,
.tagimax,
.taghybrid,
.tagrm,
.tagscene,
.tagth,
.taguc,
.tagur {
    color: #eaa07d;
    font-weight: bold;
}

.tagfreeleech {
    color: lightgreen;
    background-image: url('https://i.ibb.co/W4DhYgHN/sparkels.gif');
}

.tagarchived {
    color: gold
}

tr.group {
    border-left: 3px solid #70a2cb;
    border-right: 3px solid #70a2cb;
    text-shadow: 1px 1px 2px #211f25, 0 0 1px #211f25, 0 0 .2px #211f25
}

.group_info a.tooltip[href^="torrents.php?id="] {
    font-size: 20px;
    color: skyblue;
    word-break: normal;
}

#torrents .header>h2:first-child>span:nth-child(1) {
    color: #72a7b7 !important;
  font-size: 1.5rem !important;
  font-weight: bold;
}

#logo img {
    max-width: 11%;
  height: auto;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 25px;
}

#nav_staff a {
    margin-top: 2.7px
}

#nav_staff a,
#nav_staff a:hover {
    border-bottom: none !important
}

.group:not(:nth-child(2)) {
border-top: 3px dashed #6999a878 !important;
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn span.btn-tooltip,
.wysibb-toolbar-btn.on {
    border: unset !important
}

.group {
    border-left: none !important;
    border-right: none !important
}

#avatar img {
    position: absolute;
    width: 60px;
    height: auto;
    top: -70px
}

#userinfo_mats {
    display: flex;
    white-space: nowrap;
    max-width: 1200px
}

#seeding {
    position: absolute;
    top: -50px;
    left: 80px
}

#leeching {
    position: absolute;
    top: -50px;
    left: 207px
}

#pseudo {
    position: absolute;
    top: -70px;
    left: 80px
}

#userclass {
    position: absolute;
    top: -70px;
    left: auto
}

#useredit {
    position: absolute;
    top: -30px;
    left: 80px
}

#logout {
    position: absolute;
    top: -30px;
    left: 207px
}

#torrents #content .header>h2,
#torrents #content .thin>h2 {
    margin-right: 100%
}

a.tmdb {
    font-size: 15px;
    background: #90cea1;
    background: linear-gradient(90deg, #90cea1 0, #90cea1 31%, #50c5e4 100%);
    -webkit-background-clip: text
}

.remove_bookmark a {
    font-size: 20px;
    color: khaki
}

.add_bookmark a {
    font-size: 20px;
    color: unset
}

.homesynopsis {
    display: block;
    white-space: pre-wrap;
    word-break: break-word;
    text-align: justify;
    font-size: 13px;
    max-width: 800px;
    padding-left: 113px;
}

#emojiContainer,
#latesttorrents span,
.emoji,
.smile {
    display: inline-block
}

a.tmdb img {
    width: 35px;
    height: 100%
}

a.tmdbtrailer img {
    width: 16px;
    height: 100%
}

.wysibb-text textarea {
    min-height: 200px
}

#upload #general_warning {
    display: inline-block;
    border-color: #a4a4a4;
    border-width: thin;
    border-style: dashed;
    margin-left: 350px;
    padding: 10px;
    margin-top: 10px
}

#upload .warning_torrent_creation p {
    text-align: center;
    padding-left: 320px;
    padding-right: 320px
}

.show-more-btn {
    border: 0;
    color: #70a2cb;
    cursor: pointer;
    font-size: 13px;
    margin: auto;
    transition: color .3s ease-in-out;
    white-space: nowrap
}

.edition_info a,
.show_torrents_link {
    color: #dedede
}

#latesttorrents .box {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#latesttorrents .pad {
    white-space: nowrap;
}

#latesttorrents span {
    margin: 0;
    padding: 0;
    color: #d1d1d1;
    white-space: break-spaces
}

figcaption,
figcaption:hover {
    color: #d1d1d1
}

@keyframes scrollText {
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(-100%)
    }
}

.pad:hover {
    animation-play-state: paused !important
}

#emojiContainer {
    border: 1px solid rgba(255, 255, 255, .08);
    padding: 5px;
    cursor: pointer
}

#header #userinfo {
    margin-left: auto;
    margin-right: auto;
    padding: 5px 15px 15px;
    font-size: 13px;
    display: block;
    margin-top: 7px;
    background: -moz-linear-gradient(top, rgba(71, 42, 67, .15) 0, rgba(44, 43, 44, 0) 97%, rgba(43, 43, 43, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(71, 42, 67, .15) 0, rgba(44, 43, 44, 0) 97%, rgba(43, 43, 43, 0) 100%);
    background: linear-gradient(to bottom, rgba(71, 42, 67, .15) 0, rgba(44, 43, 44, 0) 97%, rgba(43, 43, 43, 0) 100%);
    border-top: 1px solid rgba(100, 100, 100, .6);
    height: 25px
}

#userinfo ul li {
    margin-left: 20px !important
}

/*#reply_box button,
#torrent_details button {
    align-items: center;
    appearance: none;
    border-width: 0;
    height: 20px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform
}

#reply_box button:focus,
#torrent_details button:focus {
    box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset
}

#reply_box button:hover,
#torrent_details button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    transform: translateY(-2px)
}

#reply_box button:active {
    box-shadow: #d6d6e7 0 3px 7px inset;
    transform: translateY(2px)
}
*/

.emoji {
    margin-right: 10px;
    cursor: pointer
}

.box #quickpost {
    padding: 10px;
    margin-bottom: 10px
}

#reply_box button {
    margin-top: 5px
}

.wysibb {
    background: #302d34 !important;
    border-color: #211f25 !important;
    margin-top: 20px !important;
    margin-bottom: 10px !important;
    font-size: 13px !important;
    color: #f4f4f4
}

.wysibb-toolbar {
    background: #3f3e46 !important;
    color: #f4f4f4
}

.wysibb-toolbar-btn .fonticon,
.wysibb-toolbar-btn .fonticon:hover {
    color: #f4f4f4 !important;
    text-shadow: unset !important
}

.wysibb-toolbar-btn:hover {
    background-color: unset !important
}

.wysibb-toolbar-btn.on {
    padding: unset !important;
    background-color: unset !important
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn .wbb-list {
    background-color: #3f3e46 !important
}

#nav_upload,
.groupyear,
.grouprating,
.groupreleasetype,
.grouptmdb,
.groupimdb,
.grouptrailer,
.new-subscriptions,
.new_message {
    color: #fff;
    padding: 1px 5px;
    border-radius: 5px;
    animation: .5s infinite alternate bounce
}

.wysibb-text-editor>* {
    display: initial !important;
    opacity: unset !important
}


#latestcomments .box,
#latestforumposts .box {
    max-height: 500px;
    max-width: 600px;
    overflow: auto
}

.comment_element,
.forum_post_element {
    display: block;
    margin-bottom: -15px !important;
    border-bottom: 1px dashed #2f3442;
    padding-bottom: 5px;
}

.tmdb-button,
.youtube-play-icon {
    position: relative;
    box-sizing: border-box;
    display: inline-flex
}

#latestcomments .comment_element,
#latestforumposts .forum_post_element {
    margin: -5px
}

#latestcomments .comment_element:nth-child(odd),
#latestforumposts .forum_post_element:nth-child(odd) {
    background-color: #3f3e463d;
    padding: 1%
}

.comment_element span,
.forum_post_element span {
    line-height: 15px
}

#nav_upload,
.groupyear,
.groupreleasetype,
.grouprating {
    background-color: #973939f0
}

#nav_upload:hover
 {
    color: #fbfbfb;
    background-color: #662626f0

}

#nav_top10 a {
  color: #ecd44f !important;
  background-image: url('https://i.ibb.co/W4DhYgHN/sparkels.gif');
}

.grouptrailer {
    background-color: #e05151
}

.grouptmdb {
    background: linear-gradient(135deg, #07f, #2ecc71)
}

.groupimdb {
    background: linear-gradient(135deg, #f5c518, #f5c518)
}

.new-subscriptions,
.new_message {
    background-color: #5ce0514f
}

.new-subscriptions a:hover {
  color: #fff !important;
}

@keyframes bounce {
    0% {
        transform: translateY(0)
    }
    100% {
        transform: translateY(-3px)
    }
}

.seeding {
    border-left: 5px solid #54ba54
}

.rating {
    padding: 10px;
    color: #dedede
}

.rating-inner {
    background-color: #f4f4f4;
    border: 1px solid #3f3e46;
    border-radius: 20px;
    padding: 5px;
    color: #3f3e46;
    font-size: 14px
}

.youtube-play-icon {
    width: 16px;
    height: 16px;
    border: 1px solid red;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    background-color: red
}

.youtube-play-icon::after,
.youtube-play-icon::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid
}

.youtube-play-icon::before {
    border-width: 6px 0 6px 10px;
    border-color: transparent transparent transparent #fff;
    left: 3px
}

.youtube-play-icon::after {
    border-width: 0 0 0 4px;
    border-color: transparent transparent transparent red;
    left: 4px;
    top: 1px
}

.tmdb-button {
    top: -4px;
    width: 60px;
    height: 24px;
    border: 1px solid #1c1c1c;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #07f, #2ecc71);
    color: #fff;
    font-size: 10px;
    font-family: Arial, sans-serif;
    text-transform: uppercase
}

.tmdb-button::after {
    content: 'TMDB'
}


#menu ul {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 0 15px #444060 !important;
}

#menu ul, #menu>ul :hover {
  
}


#torrentsandvotes, #latestposts {
  column-count: 2;
  column-gap: 8px;
  margin-top: 8px;
}

#torrentsandvotes .box, #latestposts .box {
    margin-top: unset;
    margin-bottom: unset;
}

#torrentsandvotes .box {
    max-height: 340px;
}

#latestposts .box {
    max-height: 344px;
}

#latesttorrents .pad, #latestcomments .pad, #latestforumposts .pad {
  overflow: scroll;
}

#premenu ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  gap: 5px;
  font-size: 13px;
}

#premenu {
    margin: unset;
}

@media (max-width: 800px) {
    #logo img {
        left: 75%;
        transform: translate(-50%, 0);
        margin-top: 3% !important;
    }
}

.head, .colhead, .colhead_dark, #premenu {
    background: #17191f;
    padding: 10px;

}


.button-7,
button,
input[type=button],
input[type=submit] {
  background-color: #2f3442;
  border: 1px solid transparent;
  border-radius: 3px;
  box-sizing: border-box;
  color: #bbbaba;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 3px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-7:hover,
.button-7:focus,
button:active,
button:focus
input[type=button]:active,
input[type=button]:focus,
input[type=submit]:active,
input[type=submit]:focus {
color: #fff;
  background-color: #3b4255;
}

.button_preview_0:hover {
  color: #fff !important;
  background-color: #3b4255 !important;
}

#submit_button:hover {
    color: #fff !important;
  background-color: #3b4255 !important;
}
